{% extends 'base.html' %}

{% block contents %}
<div class="container mt-3">
    <div class="row justify-content-center">
        {% for graph in graphs %}
        <div class="col-4 mb-3">
            <div class="card">
                <div class="card-header">{{ graph.1 }}</div>
                <img src="data:image/png;base64,{{ graph.0 }}" class="card-img-top">
{#                <div class="card-body">#}
{#                    <div class="btn-group" role="group" aria-label="Basic example">#}
{#                        <button type="button" class="btn btn-outline-dark"><i#}
{#                                class="fa fa-file-arrow-down"></i></button>#}
{#                        <button type="button" class="btn btn-outline-dark btn-sm">5Y</button>#}
{#                        <button type="button" class="btn btn-outline-dark btn-sm">1.5Y</button>#}
{#                        <button type="button" class="btn btn-outline-dark btn-sm">9M</button>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}