{% extends 'base.html' %}
{% block contents %}
<div class="container mt-3 col-4">
    <form method="post" action="{% url 'chart:keywords_edit_complete' %}">
        {% csrf_token %}
        <label class="form-label">Keywords</label>
        <input type="hidden" name="ticker" value="{{ ticker }}">
        <div class="mb-3">
            {% for keyword in keywords %}
            {% if forloop.counter0 != 0 %}
            <div class="input-group mb-3">
                <input type="text" name="keywords" class="form-control" value="{{ keyword }}" maxlength="40" required>
                <button class="btn btn-outline-secondary add-key" type="button"><i
                        class="fa-solid fa-plus"></i></button>
                <button class="btn btn-outline-secondary sub-key" type="button"><i
                        class="fa-solid fa-minus"></i></button>
            </div>
            {% else %}
            <div class="input-group mb-3">
                <input type="text" name="keywords" class="form-control" value="{{ keyword }}" maxlength="40" required>
                <button class="btn btn-outline-secondary add-key" type="button"><i
                        class="fa-solid fa-plus"></i></button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button id="save_button" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    function append_button() {
        const div = document.createElement("div");
        div.classList.add("input-group", "mb-3");

        const input = document.createElement("input");
        input.type = "text";
        input.classList.add("form-control");
        input.maxLength = 40;
        input.required = true;
        input.name = "keywords";

        const plus_button = document.createElement("button");
        plus_button.classList.add("btn", "btn-outline-secondary", "add-key");
        plus_button.type = "button";
        plus_button.innerHTML = '<i class="fa-solid fa-plus"></i>';
        plus_button.addEventListener("click", append_button);

        const minus_button = document.createElement("button");
        minus_button.classList.add("btn", "btn-outline-secondary", "sub-key");
        minus_button.type = "button";
        minus_button.innerHTML = '<i class="fa-solid fa-minus"></i>';
        minus_button.addEventListener("click", () => {
            minus_button.parentElement.remove();
        });

        div.appendChild(input);
        div.appendChild(plus_button);
        div.appendChild(minus_button);

        document.getElementById("save_button").before(div);
    }

    let add_keys = document.getElementsByClassName("add-key");
    Array.from(add_keys).forEach((add_key) => {
        add_key.addEventListener("click", append_button);
    });

    let sub_keys = document.getElementsByClassName("sub-key");
    Array.from(sub_keys).forEach((sub_key) => {
        sub_key.addEventListener("click", () => {
            sub_key.parentElement.remove();
        });
    });
</script>
{% endblock %}